a {
  text-decoration: none;
  color: white;
  padding: 10px;
  position: relative;
  align-content: space-around;
  align-items: flex-end;
  /* left: 65rem; */
}

header > #profile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 5px;
}

#apps {
  height: 15px;
  width: 15px;
  cursor: pointer;
  padding: 15px;
}
#search {
  padding-left: 40px;
  border: none;
  width: 60%;
  height: 45px;
  border-radius: 30px;
  margin: 30px;
}
.icon-placeholder {
  padding-left: 30px;
  background-image: url(./src/img/search-icon.png);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 3% center;
}

/* input::placeholder {
  padding: 40px;
} */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

body {
  background: #3c3c3c;
  min-height: 90vh;
}

#google {
  height: 122px;
  width: 285px;
  padding-top: 80px;
}

.icons-searchbar {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding: 5px;
}

.searchbar {
  display: flex;
  direction: row;
}
